// Variables
@import "../../common/variables";

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    &.active {
        margin-left: -250px;
    }
    @media (max-width: $small-screen) {
        margin-left: -250px;
        &.active {
            margin-left: 0;
        }
    }
    &-header {
        padding: 20px;
        background: #6d7fcc;
    }
    ul {
        &.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }
        p {
            color: #fff;
            padding: 10px;
        }
        li {
            a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
                &:hover {
                    color: #7386D5;
                    background: #fff;
                }
            }
            &.active>a,
            a[aria-expanded="true"] {
                color: #fff;
                background: #6d7fcc;
            }
        }
    }
}
@media (max-width: $small-screen) {
    #sidebarCollapse span {
        display: none;
    }
}