/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/front.css
/public/js/app.js
/public/js/front.js
/public/js/manifest.js
/public/js/vendor.js
/public/mix-manifest.json
/public/fonts
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker/db/mysql_data
/resources/assets/dev/node_modules
/resources/assets/dev/yarn.lock
.nuxt/*
localhost.pem
localhost-key.pem
